In [1]:
import os
import sys
from path_info import PROJECT_DIR, DATA_DIR, OUTPUT_DIR
sys.path.append(PROJECT_DIR)

import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

from src.utils_simulation import GroundTruthDynamics2

In [3]:
setting_dict = {
    'id': 'simulation_v5',
    'data_file': os.path.join(DATA_DIR, 'prefecture_data.csv'),
    'data_dir': os.path.join(OUTPUT_DIR, 'simulation_v4', 'pref-wise'),
    'output_dir': OUTPUT_DIR,
    'Timesteps': 100,
}

# Load data
df = pd.read_csv(os.path.join(setting_dict['data_dir'], 'JP-27_大阪府.csv'))
df

     step  p_values       n_values      R_values
0       0    3700.0   91550.000000  3.387350e+08
1       1    3700.0   95006.975114  3.515258e+08
2       2    3700.0   98118.252717  3.630375e+08
3       3    3700.0  100918.402559  3.733981e+08
4       4    3700.0  103438.537417  3.827226e+08
..    ...       ...            ...           ...
96     96    3700.0  126118.351626  4.666379e+08
97     97    3700.0  126118.491577  4.666384e+08
98     98    3700.0  126118.617533  4.666389e+08
99     99    3700.0  126118.730894  4.666393e+08
100   100    3700.0  126118.832919  4.666397e+08

[101 rows x 4 columns]

In [7]:
df_train = df.iloc[:51]
df_train.tail()

    step  p_values       n_values      R_values
46    46    3700.0  125848.199964  4.656383e+08
47    47    3700.0  125875.355081  4.657388e+08
48    48    3700.0  125899.794687  4.658292e+08
49    49    3700.0  125921.790332  4.659106e+08
50    50    3700.0  125941.586413  4.659839e+08

In [ ]:
N